<!-- Call to action-->
<aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/hongkong.jpg') center 80%/cover no-repeat !important;">
    <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
        <div class="mb-4 mb-xl-0">
            <div class="fs-3 fw-bold text-white">Customized routes and more practical travel guides</div>
            <div class="text-white-50">Subscribe to us for more information.</div>
        </div>
        <div class="ms-xl-4">
            <div class="input-group mb-2">
                <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                <button class="btn btn-outline-light" id="button-newsletter" type="button">Subscribe</button>
            </div>
            <div class="small text-white-50">We care about privacy, and will never share your data.</div>
        </div>
    </div>
</aside>