<footer class="bg-dark py-4 mt-auto">

    
    <div class="container px-5">
        <!-- Copyright and social media -->
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Wander in China</div></div>
            <div class="col-auto">
                <a class="link-light" href="#!" target="_blank"><i class="bi bi-instagram me-3"></i></a>
                <a class="link-light" href="#!" target="_blank"><i class="bi bi-twitter me-3"></i></a>
                <a class="link-light" href="#!" target="_blank"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>