<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <!-- Copyright and social media -->
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Wander in China</div>
                <div class="small m-0 text-white">Email: <a href="mailto:info@wanderinchina.com" class="text-white">info@wanderinchina.com</a></div>
            </div>
            <div class="col-auto">
                <a class="link-light" href="https://www.instagram.com/wanderinchina2025/" target="_blank"><i class="bi bi-instagram me-3"></i></a>
                <a class="link-light" href="https://x.com/wanderinchina" target="_blank"><i class="bi bi-twitter-x me-3"></i></a>
                <a class="link-light" href="https://www.youtube.com/@wanderinchina" target="_blank"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>